.body {
	background-image: url("../img/bg-image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

.container {
	width: 325px;
	margin: 0 auto;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

	/*HEADER-START*/

.headbar {
	background-color: rgba(0, 0, 0, 0.41);
	margin-bottom: 65px;
}

.link-logo {
	text-decoration: none;
	display: inline-block;
	padding-left: 81px;
}

.logo {
	font-family: Verdana, sans-serif;
	color:  #ffffff;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 20px 0;
	transition: all 0.2s ease-out;
}

.logo:hover {
	color: #3cb878;
}

.regestration {
	position: absolute;
	top: 18px;
	right: 290px;
}

.sprite {
	display: inline-block;
	background: url("../img/sprite.png") no-repeat top left;
	margin-right: 28px;
} 

.sprite.sprite-1 { 
	background-position: -136px 0px; 
	width: 19px; 
	height: 19px; 
	transition: all 0.2s ease-out; 
}

.sprite.sprite-2 { 
	background-position: 0px 0px; 
	width: 28px; 
	height: 20px;
	transition: all 0.2s ease-out; 
} 

.sprite.sprite-3 { 
	background-position: -76px 0px; 
	width: 20px; 
	height: 20px;
	transition: all 0.2s ease-out;
} 

.sprite.sprite-1:hover {
	background-position: -165px 0px;
}

.sprite.sprite-2:hover {
	background-position: -38px 0px; 
}

.sprite.sprite-3:hover {
	background-position: -106px 0px;
}


.header-text {
	font-family: Verdana, sans-serif;
	color:  #ffffff;
	font-size: 14px;
	position: absolute;
	top: 24px;
	right: 75px;
}

.reg-form {
	color:  #3cb878;
	text-decoration: none;
}

.reg-form:hover {
	border-bottom: 1px solid;
	color:  #3cb878;
}

.sprite { 
	display: inline-block;
	background: url("../img/sprite.png") no-repeat top left;
} 

	/*HEADER-END*/

	/*FORM-CONTENT-START*/

.content-box {
	width: 444px;
	height: 584px;
	background-color: white;
	margin: 0 auto;
	box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
	border-radius: 10px;
	padding-top: 30px;
	position: relative;
}

.form-text, .log-in-box {
	display: inline-block;
	font-family: Verdana, sans-serif;
	font-size: 20px;
	position: relative;
}

.green-box {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #3cb878;
	position: absolute;
	left: 0;
}

.log-in-box {
	text-decoration: none;
	color:  #3cb878;
	font-size: 14px;
	margin-top: 6px;
	position: absolute;
	right: 59px;
}

.buttons {
	padding-top: 32px;
	text-align: center;
}

.button-facebook {
	background-color: #305db8;
	text-decoration: none;
	padding: 15px 17px 15px 66px;
	margin-right: 9px;
	border-radius: 3px;
}

.button-google {
	background-color: #df4a32;
	text-decoration: none;
	padding: 15px 30px 15px 72px;
	border-radius: 3px;
}

.button-text {
	font-family: Verdana,sans-serif;
	color:  #ffffff;
	font-size: 16px;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
}

.facebook-text::before {
	content: "";
	width: 10px;
	height: 20px;
	display: inline-block;
	background-image: url("../img/facebook-sprite.png");
	background-repeat: no-repeat;
	position: absolute;
	left: -46px;
	top: -2px;
}

.google-text::before {
	content: "";
	width: 25px;
	height: 16px;
	display: inline-block;
	background-image: url("../img/google-sprite.png");
	background-repeat: no-repeat;
	position: absolute;
	left: -58px;

}

.text-or {
	margin-top: 50px;
	font-family: Verdana, sans-serif;
	color:  #848484;
	font-size: 14px;
	text-align: center;
	position: relative;
}

.text-or::before {
	content: "";
    display: block;
    background-color: #bebebe;
    width: 135px;
    height: 1px;
    border: none;
    position: absolute;
    top: 8px;
}

.text-or::after {
	content: "";
	display: block;
    background-color: #bebebe;
    width: 135px;
    height: 1px;
    border: none;
    position: absolute;
    right: 0;
    top: 8px;
}

.form-content {
	margin-top: 18px;
	/*text-align: center;*/
}

.reg-field {
	box-sizing: border-box;
	width: 322px;
	padding: 15px 15px;
	border-radius: 3px;
	margin-bottom: 15px;
	outline: none;
	font-family: Verdana;
	color:  #434343;
	font-size: 14px;
	border: 1px solid #bebebe;
	box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21)
}

.create-account {
	font-family: Verdana, sans-serif;
	color:  #ffffff;
	font-size: 16px;
	background-color: #3cb878;
	border: none;
}

.checkbox {
	
    display:inline-block;
    margin-top: 20px;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 22px;

}
.checkbox input {
    display: none;
	position: absolute;
    cursor: pointer;

}
.checkmark {
    position: absolute;
    top: -17px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #bebebe;
}

.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
  background-color: #fff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none; 
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #3cb878;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.terms-text {
	display: inline-block;
	font-family: Verdana;
	color:  #434343;
	font-size: 14px;
	position: relative;
	bottom: 15px;
	right: 5px;
}

.terms-link {
	text-decoration: none;
	color:  #3cb878;
}

.terms-link:hover {
	border-bottom: 1px solid;
	color:  #3cb878;
}


	/*FORM-CONTENT-END



