body {
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.container {
	width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header {
	margin-top: 50px;
}

.link-logo {
	text-decoration: none;
	float: left;
	position: relative;
}

.logo-img {
	background-image: url("../img/logo.png");
	width: 46px;
	height: 44px;
	background-repeat: no-repeat;
	display: inline-block;
}

.link-logo:hover .logo-img {
	background-image: url("../img/logo-orange.png");
	color: #f26522;
	transition: .4s;
}

.link-logo:hover .text-logo {
	color: #f26522;
	transition: .4s;
}

.text-logo {
	position: absolute;
	left: 50px;
	top: -3px;
	font-family: Verdana, sans-serif;
	color:  #ffffff;
	font-size: 29px;
	font-weight: 700;
	text-transform: uppercase;
}

.text-holidays {
	font-size: 0.625em;
	position: absolute;
	top: 31px;
	left: 1px;
}

.contacts {
	font-family: Verdana, sans-serif;
	color:  #ffffff;
	font-size: 18px;
	float: right;
}

.contact-item {
	margin-top: 5px;
	text-align: right;
}

	/*GALLERY-START*/
	
.gallery {
	margin-top: 47px;
}

.content {
	text-align: center;
}

.image {
	width: 307px;
	height: 202px;
	border: 1px solid transparent;
	background: linear-gradient(white, black);
}

.img-item {
	text-align: center;
	display: inline-block;
	margin-bottom: 57px;
}

.img-item:nth-child(3n) {
	float: right;
}

.float-left {
	float: left;
}

.item-link {
	text-decoration: none;

}
.description {
	margin-top: 22px;
	font-family: Verdana, sans-serif;
	color:  #ffffff;
	font-size: 18px;
}
	
.hidden-content {
	position: relative;
	opacity: 1;
}

.img-item:hover .hidden-content {
	opacity: 1;
	transition: .4s;
}

.img-item:hover .description {
	color: #f26522;
	transition: .4s;
}

.hidden-bg {
	width: 307px;
	height: 63px;
	background-color: #f26522;
	position: absolute;
	bottom: 25.5px;
	left: 1px;
	opacity: 1;
}

.hidden-description-photo::after {
	content: "\203A";
	margin-left: 5px;
}

.euro::before {
	content: "\20AC";
}

.hidden-text {
	font-family: Verdana, sans-serif;
	color: #ffffff;
	font-size: 20px;
	text-align: left;
	position: relative;
	top: 15px;
	left: 7px;
}

.from-text {
	font-size: 0.625em;
}

.hidden-description-photo {
	font-family: sans-serif;
	font-size: 0.875em;
	text-align: right;
	position: relative;
	right: 9px;
	color: #ffffff;
}

	/*GALLERY-END*/

.copyright {
	font-family: Verdana, sans-serif;
	color:  #ffffff;
	font-size: 12px;
	text-align: center;
	margin-bottom: 20px;
}

.copyright::before {
	content: "\00A9";
	margin-right: 5px;
}