body {
	font-family: Verdana, sans-serif;
}

.bg {
	width: 100vw;
	height: 100vh;
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.header {
	padding-top: 40px;
}

.header-content {
	display: flex;
	justify-content: space-between;
}

.logo-sprite {
	background-image: url("../img/logo-sprite.png");
	display: inline-block;
	width: 46px;
	height: 44px;
	background-repeat: no-repeat;
	transition: all .3s ease-out;
}

.link-logo {
	text-decoration: none;
}

.link-logo:hover .logo-sprite {
	background-position: -56px 0px;
}

.link-logo:hover .logo-text {
	color: #f26522;
}

.logo-text {
	display: inline-block;
	color:  #ffffff;
	font-size: 29px;
	font-weight: 700;
	text-transform: uppercase;
	padding-left: 15px;
	transition: all .3s ease-out;
}

.text-holidays {
	font-size: 18px;
	padding-left: 1px;
}
.contacts {
	display: inline-block;
	text-align: right;
	padding-top: 8px;
}

.contact-item {
	color:  #ffffff;
	font-size: 18px;
}

	/*TOURS-START*/

.content {
	margin-top: 60px;
}

.tours {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.img-block {
	padding-bottom: 38px;
	text-align: center;
	position: relative;
}

.item-link {
	text-decoration: none;
}

.image {
	box-sizing: border-box;
	width: 307px;
	height: 200px;
	border: 1px solid transparent;
	border-image: linear-gradient(to bottom, white 0%, black 100%);
	border-image-slice: 1;
}

.img-block:hover .hidden-bg {
	opacity: 1;
}

.img-block:hover .description {
	color: #f26522;
}

.hidden-bg {
	box-sizing: border-box;
	width: 307px;
	height: 63px;
	background-color: #f26522;
	position: absolute;
	top: 137px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	opacity: 0;
	transition: all .3s ease-out;
}

.hidden-bg p {
	color: #ffffff;
	text-align: left;
	margin-left: 21px;
}

.hidden-from-text {
	font-size: 0.5em;
}

.view-details-link {
	text-decoration: none;
	color: white;
	font-size: 0.7em;
	margin-right: 18px;
	margin-top: 12px;
}

.view-details-link::after {
	content: "\203A";
	width: 7px;
	height: 10px;
	margin-left: 15px;
	display: inline-block;
	opacity: 0.6;
}

.euro::before {
	content: "\20AC";
}

.column {
	display: flex;
	flex-direction: column;
}

.description {
	color:  #ffffff;
	font-size: 18px;
	margin-top: 22px;
	transition: all .3s ease-out;
}

	/*TOURS-END*/

.copyright {
	color:  #ffffff;
	font-size: 12px;
	text-align: center;
	padding-top: 20px;
}

.copyright::before {
	content: "\00A9";
	display: inline-block;
	position: relative;
	right: 3px;
	bottom: 1px;

}