.body {
  width: 100vw;
  height: 100vh;
  background: #000;
  overflow: hidden;
}

iframe {
  opacity: 0;
}

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -35px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 300px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  transform-origin: 50% 100%;
  animation: crawl 30s linear infinite;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

.title div {
  padding-bottom: 100px;
}

.main-text {
  padding-bottom: 150px;
}