.top-menu-link {
	font-family: Roboto, Sans-serif;
	color: #16a085;
	font-size: 18px;
	font-weight: 900;
	margin-left: 32px;
	margin-right: 32px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.4s ease-out;
}

.top-menu {
	text-align: center;
	margin-top: 32px;
	margin-bottom: 35px;
}

.top-menu-link:hover {
	color: black;
}

.main-img {
	width: 100%;
}

.bg-color {
	background-color: #f5f6f7;
}

.container {
	font-family: Roboto, sans-serif;
	width: 1060px;
	margin: 0 auto;
	padding-bottom: 46px;
}

.headline {
	text-transform: uppercase;
	color:  #373737;
	font-size: 22px;
	font-weight: 900;
	padding-top: 56px;
	padding-bottom: 34px;
	text-align: center;
}

.main-text {
	text-align: center;
	color:  #373737;
	font-size: 16px;
	font-weight: 900;
	line-height: 26px;
	opacity: 0.9;
}

.button {
	text-align: center;
	font-family: GothamRounded, sans-serif;
	color:  #ffffff;
	font-size: 12px;
	font-weight: 700;
	border-radius: 3px;
	background-color: #16a085;
	width: 192px;
	height: 51px;
	line-height: 50px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	margin: 41px auto;
	transition: all 0.4s ease-out;
}

.button:hover {
	color: #16a085;
	background-color: #373737;
}

.copyright {
	font-family: Roboto, sans-serif;
	color:  #373737;
	font-size: 16px;
	font-weight: 900;
	text-align: right;
	margin-bottom: 46px;
	margin-top: 46px;
}

