.container {
    width: 1300px;
    margin: 0 auto;
}

.text-selected {
	color: #f1ad1d;
}

.section-title{
    font-family: Montserrat, sans-serif;
    color:  #333333;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
}

.section-description{
    font-family: Lato, sans-serif;
    color:  #4d4943;
    font-size: 17px;
    margin-bottom: 52px;
    text-align: center;
}

.decoration-underline::after {
    content:"";
    display: block;
    width: 60px;
    height: 3px;
    border: none;
    background-color:  #f1ad1d;
    margin: 52px auto 0;
}

.text-white {
	color: #ffffff;
}

.main-header {
	background-image: url("../img/bg-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 530px;
	padding-bottom: 145px;
	background-attachment: fixed;
}

.header-title {
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.header-company-description {
    font-family: Lato, sans-serif;
    color:  #ffffff;
    font-size: 18px;
    margin-bottom: 28px;
}

.header-slogan {
    width: 800px;
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 44px 0;
    padding-right: 56px;
    padding-left: 26px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-selected {
	background-color: rgb(255, 255, 255);
	padding: 38px 34px 39px 30px;
	position: relative;
	right: 27px;
}


		/*About-section-start*/

.about-company-section{
    padding-top: 112px;
    padding-bottom: 47px;
}

.awards-list {
    text-align: center;

}

		/*About-section-end*/

.slogan1 {
	background-image: url("../img/bg-2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 150px 0;
	background-attachment: fixed;
}

.company-secret {
	padding-top: 136px;
	padding-bottom: 180px;
}


.featured {
	background-image: url("../img/bg-3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 175px;
	padding-bottom: 114px;
	background-attachment: fixed;
}

.feature-img {
	width: 840px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 25px;
}

.self {
	position: relative;
	top: 12px;
}

.slogan2{
	padding-top: 157px;
	padding-bottom: 70px;
}

.products {
	background-image: url("../img/bg-4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 130px;
	padding-bottom: 119px;
	background-attachment: fixed;
}

.products a {
	text-decoration: none;
}

.products p {
	font-size: 16px;
	text-align: center;
	font-family: Lato, sans-serif;
    color:  #ffffff;
    margin-top: 10px;
}

.products p:last-child::after {
	content: "";
    display: block;
    background-color:  #ffffff;
	width: 281px;
	height: 3px;
	margin: 44px auto 0;
}

.goods {
	padding-top: 154px;
	padding-bottom: 179px;
}
