.table-container {
    font-family: 'Arimo', sans-serif;
    margin: 0 auto;
}

table {
    border: 30px solid #374765;;
    border-collapse: collapse;
    color: #484848;
    margin: 0 auto;
}

tr {
    height: 69px;
}

td, th {
    border: 1px solid #dbdbdb;
    box-shadow: 0 0 5px #dbdbdb;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

th {
    border: none;
    box-shadow: none;
    font-weight: 700;;
}

th:first-child {
	color:  #484848;
	background-color: white;
	width: 310px;
}

th {
	width: 277px;
	height: 70px;
}

th:first-child p:first-child {
	font-size: 18px;
}

th:first-child p:nth-child(2) {
	font-size: 30px;
}

th:nth-child(2) {
	background-color: #89c331;
	color:  #ffffff;
	font-size: 24px;
}

th:nth-child(3) {
	background-color: #f04a56;
	color: #ffffff;
	font-size: 30px;
}

th:nth-child(4) {
	background-color: #20807c;
	color:  #ffffff;
	font-size: 24px;
}

thead td p {
	font-size: 60px;
	text-align: left;
	font-weight: 700;
    padding: 12px;
}

thead td p::before {
	bottom: 25px;
    color: #484848;
    content: ".99";
    font-size: 24px;
    left: 135px;
    position: relative;
}

thead td p::after {
	content: "per month";
	font-size: 18px;
    font-weight: 400;
}

i {
	position: relative;
	right: 12px;
	top: 3px;
	font-size: 24px;
	color: #848484;
}

tbody tr:nth-child(even) {
	background-color:  #e3e3e3;
}

tbody tr:nth-child(odd) {
	background-color:  #f2f2f2;
}

tfoot td {
	padding: 30px 43px;
}

tfoot td:nth-child(2) {
    background-color: #eeefef;
}

tfoot td:nth-child(3) {
    background-color: #f4f4f4;
}

tfoot td:last-child {
    background-color: #eeefef;
}

tfoot td:first-child {
	background-color:  #dddddd;
}

tfoot a {
	border-radius: 5px;
    color: #ffffff;
    display: block;
    font-size: 16px;
    font-weight: 700;
    height: 29px;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    width: 192px;
    line-height: 8px;
}

tfoot td:first-child a {
	margin-left: 20px;
    background: linear-gradient(to bottom, #464646 85%, #3e3e3e 10%);
}

tfoot td:nth-child(2) a {
    background: linear-gradient(to bottom, #8ac42d 85%, #7ab122 10%);
}

tfoot td:nth-child(3) a {
    background: linear-gradient(to bottom, #f04a56 85%, #df3a46 10%);
}

tfoot td:last-child a {
    background: linear-gradient(to bottom, #20807c 85%, #16736f 10%);
}

